@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  min-width: 640px;
  font-family: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

svg {
  vertical-align: baseline;
}
